body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}

.App {
  background-color: white;
  width: 550px;
  height: 950px;

  font-style: normal;

}

.card-line {
  border: 1px solid #f5f5f5  ;
}


.card-line:last-child {
  display: none;
}